services:
  - type: web
    name: frappe-app
    env: docker
    plan: starter
    autoDeploy: true

databases:
  - name: frappe-db
    plan: free
    ipAllowList:
      - source: 0.0.0.0/0

  - name: frappe-redis
    type: redis
    plan: free
    ipAllowList:
      - source: 0.0.0.0/0
